@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@font-face {
  font-family: "Noto Sans Armenian Regular";
  src: url("../fonts/NotoSansArmenian/NotoSansArmenian-Regular.woff2") format("woff2");
}

html {
    font-family: "Montserrat", "Noto Sans Armenian Regular";
    scroll-behavior: smooth;
}


.body-over {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_0 h1 {
    text-align: unset;
}

.all_content, h1, h2, h3 {
    text-align: center;
}

section h1 {
    font-size: 2em;
}

.all_content p {
    text-align: justify;
    line-height: 30px;
    margin-top: 70px;
    font-size: 16px;
}


.all_content {
    width: 1250px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 0px;
}

.all_content_one, .all_content_two, .all_content_three {
    padding-top: 0;
}
 
.section {
    width: 100%;
    min-height: 500px; 
    overflow: hidden;
    margin-top: 50px;
}

.section_one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.section_one_h1 {
    width: 100%;
    padding-top: 90px;
}

.map_p {
    width: 47%;
    height: 100%;
}


.map_p img {
    width: 100%;
    height: auto;
}

.map-p-img-one {
    margin-top: 80px;
}

.map_p p {
    margin-top: 70px;
}

.learn_more {
    color: #058CF9 !important;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
}

.learn_more a {
    color: #058CF9;
}

.section_two {
    min-height: auto;
}

.monumet-scroll {
    width: 100%;
    height: auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: transparent;
}

.monument-scroll-img {
    width: 30%;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monument-scroll-img p, .monument-scroll-img a {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    opacity: 0;
    display: none;
    transition: .7s;
}

.monument-scroll-img a  {
    left: 20px;
    top: 360px;

}


.monument-scroll-img::before {
    content: ''; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.301);
    transition: .5s;
}

.monument-scroll-img:hover:before {
    background-color: rgba(0, 0, 0, 0.601);
    transition: .5s;
}

.monument-scroll-img:hover > p {
    opacity: 1;
    display: block;
    transition: .7s;
    color: white;
}

 .monument-scroll-img:hover > .learn_church {
    opacity: 1;
    display: block;
    transition: .7s;
} 

.monument-scroll-img:hover > .learn_monument {
    opacity: 1;
    display: block;
    transition: .7s;
}



.monument-scroll-img img {
    width: 100%;
    height: auto;
}

.learn_more:hover {
    text-decoration: underline;
}

.lng-church {
    padding-top: 90px;
}

.lng-monument {
    padding-top: 90px;
}

.slider_all {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.slider {
    width: 80%;
    margin: 0 auto;
    height: 450px;
    position: relative;    
    overflow: hidden;
    display: flex;
    align-items: center;
}


.slider_but {
    width: 4%;
    height: auto;
    outline: none;
    cursor: pointer;
    border: none;
    position: absolute;
    overflow: hidden;
    background: none;
    margin-top: 0;
    transition: .4s;
    z-index: 25;
    opacity: .5;
    padding: 0;
    font-size: inherit;
    display: flex;
    align-items: center;
}

.slider_but:hover {
    transition: .4s;
    opacity: .8;
}

.next {
    right: 4%;
}

.back {
    left: 4%;
}

.slider_but img {
    width: 100%;
    height: 10%;
}

.slider_init {
    height: 70%;
    display: flex;
    transition: .4s;
}

.slider_box {
    width: 20%;
    height: 100%;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    transform-origin: center;
    position: relative;
}

.slider_box_h2_cont {
    position: absolute;
    bottom: 0;
    color: white;
    transform: translateY(100%);
    transition: .2s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

    
.slider_box::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.301);
    transition: .2s;
} 
  

.slider_info {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.slider_info h3 {
    margin-top: 0;
}


.slider_box img {
 width: auto;
 height: 100%;
}

.p-1-slider img {
    width: auto;
    height: 100%;
}

.slider_box:hover {
    transition: .3s;
    width: 40%;
    transform: scale(1.25);
    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.219);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.219);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.219);
    z-index: 2;
}

.slider_box:first-child:hover {
    margin-left: 2.5%;
}

.slider_box:last-child:hover {
    margin-right: 2.5%;
}

.section_three {
    width: 100%;
    margin-top: 100px;
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.300);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.300);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.300);
}

.section_three_cont {
    padding-top: 90px;
    padding-bottom: 50px;
}

.map_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

 
.map_p_info:first-child {
    margin: 0;
}

.map_p_info {
    margin-top: 50px;
}

.p_bold {
    font-weight: 700;
}

.section_about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 250px;
    margin-top: 70px;
    justify-content: space-between;
}

.section_about_h2 {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;

}

.about_sec {
    width: 67%;
}

.about_sec p {
    margin: 0;
}

.sec_about_one {
    width: 30%;
}

.sec_about_one img {
    width: 100%;
    height: auto;
}


.about_info_wrapper {
    width: 100%;
    background-color: white;
    margin-top: 70px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.300);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.300);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.300);
    padding-bottom: 70px;
}

.about_info {
    width: 100%;
    height:900px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
}


.about_info button {
    width: 5%;
    height: 7%;
    background-color: inherit;
    position: absolute;
    bottom: 30px;
    z-index: 4;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 80%;
    padding: 5px;
    padding-top: 10px;
}

.about_info button img {
    width: 70%;
    height: 75%;
    transition: .4s;
}

.about_info::before {
    content: '';
    width: 100%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 500px 60px rgb(255, 255, 255);
    transition: .5s;
    z-index: 3;
}

.about_info_active::before {
    transition: .5s;
    height: 0;
    box-shadow: none;
}

.about_info_active button {
    width: 5%;
    height: 2.7%;
    bottom: 10px;
    padding-top: 5px;
}

.about_info_active button img {
    transform: rotate(-180deg);
}

.about_info_active {
    height: auto;
    margin-bottom: 60px;
}


.about_info_box {
    margin-top: 4%;
    width: 40%;
    height: 380px;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
    position: relative;
}

.about_info_box:hover {
    -webkit-box-shadow: 5px 6px 24px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 24px 2px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 24px 2px rgba(0,0,0,0.75);
    transition: .4s;
    border: 1px solid rgba(0, 0, 0, 0.658);
}

.about_info_box::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.301);
    transition: .2s;
    
}

.about_info_box:hover::before{
    transition: .6s;
    transform: translateY(100%);
    transition-delay: .4s;
}

.about_info_box:hover > .slider_box_h2_cont {
    transform: translateY(0);
    transition: .6s;
    transform-origin: bottom;
    transition-delay: .4s;
}

.about_info_box img {
    width: auto;
    height: 100%;
}


.info-obekt {
    width: 100%;
    height:900px;
    overflow-y: auto;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    position: relative;
    display: none;
}

.info-obekt h3 {
    margin-top: 50px;
}

 .info-about-active{
    display: block;
}

.info-obekt-active {
    display: none;
}

.info-obekt::-webkit-scrollbar {
    width: 9px;
}

.info-obekt::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.info-obekt::-webkit-scrollbar-track {
    background-color: inherit;
}

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(224, 224, 224);
}

body::-webkit-scrollbar-track {
    background-color: inherit;
}

.box-about-info p {
    margin-top: 50px;
    margin-bottom: 20px;
}
.map-about-info {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
}

.h3-his {
    padding-top: 90px;
    width: 100%;
}

.back-info-about {
    width: 5%;
    height: 6%;
    position: absolute;
    top: 50px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.about_info_wrapper .all_content {
    position: relative;
}

.back-info-about img {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.reg-h2 {
    padding-top: 70px;
    width: 100%;
}

.all_content_three_img {
    width: 100%;
    height: auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.all_content_three_img img {
    height: auto;
    width: 30%;
}

footer {
    width: 100%;
    background-color: #446196;
    height: 100px;
    margin-top: 80px;
    display: flex;
}

footer .all_content {
    padding: 0;
    display: flex;    
    align-items: center;
    justify-content: center;
}


footer .all_content p {
    font-size: 17px;
    color: white;
    margin: 0;
}

.burger-wrap {
    width: 60px;
    height: 60px;
    background-color: white;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    transition: .2s;
}

.burger {
    width: 30px;
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
    float: right;
    transition: all 0.5s;
    position: relative;
    margin-top: 20px;
    z-index: 15;
}

.header-active .burger-wrap  {
    top: 25px;
    z-index: 99999;
}

.burger span {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 10px;
}

.burger::before,
.burger::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: all 0.4s;
}

.burger::before {
    top: 0;  
}

.burger::after {
    bottom: 0;
    height: 2.4px;
}

.burger_active::before {
    transform: rotate(45deg);
    top: 9px;
}

.burger_active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.burger_active span {
    transform: scale(0);
}



 .all_content .learn_more {
    color: rgb(0, 0, 148);
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: block;
    text-align: left;
}

.all_content .p_bold {
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    line-height: 10px;
}

.all_content .lng-church-p-3 {
    margin: 0;
}

.game-cont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #058bf942;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.header-game-active {
    display: none;
}

.page_0-game-active {
    display: none;
}

.game-active {
    display: block;

}

