@media screen and (max-width: 1200px) {
    .container {
        width: 	960px;
    }

    .all_content {
        width: 	960px;
    }

    map_p
    .slider_init {
        height: 60%;
    }


    .map_p p {
        margin-top: 20px;
    }

    .about_sec {
        width: 62%;
    }

    .sec_about_one {
        width: 35%;
    }

    .about_info_box {
        width: 42%;
        height: 350px;
    }
    .about_info button {
        width: 6.5%;
    }

    .about_info_active button {
        height: 3%;
        bottom: 0;
    }

    .monument-scroll-img {
        width: 45%;
        height: auto;
    }

    .monument-scroll-img p {
        font-size: 14px;
    }

    .slider_box h2 {
        left: 45px;
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .all_content {
        width: 720px;
    }

    .map_p_two {
        background-size: 50%, auto;
    }

    .monumet-scroll {
        flex-direction: column;
    }

    .monument-scroll-img  {
        width: 60%;
        margin: 40px 0;
    }

    .monumet-scroll-img::before {
        content: '';
        background-color: rgb(0, 0, 0);
    }

    .monumet-scroll-img:hover:before {
        content: '  ';
        background-color: rgba(0, 0, 0, 0.601);
    }

    .monument-scroll-img p {
        display: block;
        opacity: 1;
        color: white;
    }

    .monument-scroll-img .learn_monument {
        display: block;
        opacity: 1;
    }

    .monument-scroll-img .learn_church {
        display: block;
        opacity: 1;
    }


    .section_one {
        flex-direction: column;
    }

    .all_content_three_img img {
        width: 70%;
    }

    .section_one .map_p {
        width: 100%;
    }

    .section_one .map_p img {
        width: 50%;
    }

    .slider {
        height: 450px;
    }

    .slider_box {
        width: 50%;
    }

    .slider_but img {
        height: 8%;
    }



    .slider_box:hover {
        width: 50%;
    }

    .map-p-img-one {
        margin-top: 40px;
    }

    .map_p img {
        margin-top: 40px;
    }

    .map_section .map_p {
        width: 100%;
        margin-top: 30px;
    }

    .about_info_box {
        height: 280px;

    }

    .back-info-about {
        width: 7%;
    }

    .about_info_box h2 {
        margin-top: 10px;
        font-size: 19px;
    }

    .about_info button {
        height: 5.5%;
    }

    .about_info_active button {
        height: 3%;
    }

    .section_about {
        flex-direction: column;

    }

    .about_sec {
        width: 100%;
    }

    .sec_about_one {
        display: none;
    }
    
    


    .slider_box:hover {
        width: 50%;
        transition: .3s;
        transform: scale(1);
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border: none;
    }

    .slider_box:first-child:hover {
        margin-left: 0;
    }
    
    .slider_box:last-child:hover {
        margin-right: 0;
    }

    
}

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .all_content {
        width: 540px;
    }

    .page_0 h5 {
        font-size: 35px;
    }


    .monument-scroll-img  {
        width: 70%;
        margin: 40px 0;
    }
    

    .about_info_box {
        width: 85%;
        height: 350px;
        margin-top: 7%;
    }

    .about_info_box h2 {
        font-size: 20px;
    }

    .about_info button {
        height: 6%;
        width: 10%;
    }

    .about_info_active button {
        height: 1.3%;
        width: 9.7%;
        bottom: 0;
    }

    .slider_but img {
        height: 7%;
    }

    .next {
        right: 4%;
    }

    .back {
        left: 4%;
    }

    .slider_box:hover {
        width: 100%;
    }

    .slider_info {
        display: flex;
    }

    .slider_box::before {
        display: none;
    }

    .slider_box h2 {
        display: none;
    }

    .about_info_box::before {
        display: none;
    }

    .about_info_box .slider_box_h2_cont {
        bottom: 0;
        transform: translateY(0);
        background-color: rgba(0, 0, 0, 0.466);
        height: 80px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: auto;
    }

    .page_0 h1 {
        font-size: 70px;
    }

    .monument-scroll-img  {
        width: 80%;
        margin: 40px 0;
    }
    .monument-scroll-img p {
        
        font-size: 13px;
    }



    .page_0 h5 {
        font-size: 27px;
    }

    .all_content {
        width: auto;
    }


    .back-info-about {
        width: 9%;
    }

    .slider_info h3 {
        font-size: 17px;
    }

    .slider_but {
        width: 5%;
    }

    .slider_but img {
        height: 10%;
    }

    .next {
        right: 3%;
    }

    .back {
        left: 3%;
    }

}

@media screen and (max-width: 420px) {
    .about_info_box {
        width: 95%;
    }

    .about_info button {
        width: 15%;
        height: 7%;
    }

    .about_info_active button {
        width: 15%;
        height: 1.7%;
        bottom: 0;
    }

    .page_0 h1 {
        font-size: 50px;
    }

    .monument-scroll-img  {
        width: 85%;
        margin: 40px 0;
    }
    .monument-scroll-img p {
        
        font-size: 12px;
    }

    .page_0 h5 {
        font-size: 20px;
    }

    .slider_but {
        width: 7%;
    }

    .slider_but img {
        height: 12%;
    }

    .next {
        right: 1%;
    }

    .back {
        left: 1%;
    }
}

@media screen and (max-width: 368px) {

    .back-info-about {
        width: 12%;
    }

    .page_0 h5 {
        font-size: 15px;
    }

    .monument-scroll-img  {
        width: 85%;
        margin: 40px 0;
    }
    .monument-scroll-img p {
        
        font-size: 10px;
    }

    .about_info_box {
        height: 300px;
    }

    .about_info button {
        width: 15%;
    }

    .about_info_active button {
        height: 1.7%;
    }
}